<% layout('./layout/page') -%>
<% block('title', 'Hello, kitty') -%>
<h1>Login</h1>

<form id="login">
    <div>
        Name <br>
        <input type="text" placeholder="name" name="name" autocomplete="off"/>
    </div>
    <div>
        Password <br>
        <input type="password" placeholder="*******" name="password" autocomplete="off"/>
    </div>
    <div>
        <input type="submit" value="send"/>
    </div>
</form>

<script>
    login.onsubmit = e => {
      const form = e.target;

      fetch('/login', {method: 'POST', headers: { "Content-Type": "application/json" }, body: JSON.stringify({name: form.name.value, password: form.password.value})})
        .then(res => {
          const {status} = res;

          switch (status) {
            case 200:
              window.location.href = '/chat';
              break;
            default:
              console.error('auth error');
          }
        })


      e.preventDefault();
    }
</script>